    /*CSS RESET*/
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-weight: lighter;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        vertical-align: baseline;
        display: inline-block;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /*NAVIGATION BAR*/
    
    .navigation-container {
        background-color: #FFF0ED;
    }
    
    .icon {
        min-width: 3.125rem;
        max-width: 7.5rem;
    }
    
    h1 {
        font-size: 3.75rem;
    }
    
    h2 {
        padding: 1.25em;
        margin: 1.25rem;
        font-size: 3.75rem;
    }
    
    h3 {
        font-size: 2.063rem;
    }
    
    p {
        font-size: 1.125rem;
        width: 20rem;
        height: 7rem;
    }
    
    #coffee-defintion {
        margin-left: 10%;
    }
    
    a.typelink {
        color: #393939;
        text-decoration: none;
    }
    
    li:last-child a {
        color: #5BACC3;
        text-decoration: none;
    }
    
    .nav-links li {
        padding-bottom: 3%;
        padding-right: 2rem;
        padding-left: 2rem;
        font-size: 1.313rem;
    }
    /*FIRST MAIN CONTAINER SECTION*/
    
    .main-container-one {
        color: #393939;
        background-color: #FFF0ED;
    }
    
    .title-company {
        margin-left: 5%;
    }
    
    img.hero-image {
        padding-left: 45%;
        margin: 10%;
        width: 25%;
    }
    
    a.blue-button {
        margin-left: 10%;
        padding: 1em;
        padding-left: 6.5em;
        text-decoration: none;
        margin-right: 10%;
    }
    
    .main-container-two {
        text-align: center;
        background-color: #F7F7F7;
        color: #393939;
    }
    
    a.blue-button,
    .blue-button {
        min-width: 11.25rem;
        max-width: 80%;
        background-color: #5BACC3;
        color: #FFF;
    }
    
    .card img {
        min-height: 15rem;
        min-width: 10rem;
        max-height: 34.375rem;
    }
    
    .card div {
        min-width: 20.625rem;
        max-width: 21.875rem;
        min-height: 27.5rem;
        max-height: 28.75rem;
        padding: 1.25rem;
        margin: 1.25rem;
        border-radius: 0.625rem;
        box-shadow: 0 0.313rem 0.563rem -0.063rem;
        box-shadow: rgba(0, 0, 0, 0.25);
        background-color: #FFF;
    }
    /*div>img:first-of-type {
    width: 15%;
}*/
    /*.main-container-two div>img:nth-child(-n+3) {
    margin: 30%;
    }*/
    
    .price-text {
        color: #5BACC3;
    }
    /*DISCOUNT BANNER SECTION */
    
    .discount-banner {
        min-width: 1.125rem;
        max-width: 90%;
        margin: 1.25rem;
        padding: 1.25rem;
        padding-left: 40%;
        background-color: #393939;
        text-align: center;
        color: #FFF;
        font-size: 3.75rem;
    }
    
    .bolded-words {
        font-weight: bolder;
    }
    /*FOOTER SECTION */
    
    .footer-container {
        margin: 1.25rem;
        padding: 1.25rem;
        padding-left: 15%;
        background-color: #FFF0ED;
        color: #393939;
    }